.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.key  {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 12px;
    line-height: 20px;
    width: 80%;
     display: none;
    left: 17%;
    top: -12px;
}
.key input {
        position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.container {
    width: 200px;
}

.resizer {
    overflow: hidden;
}

.resizer.have-img button.ok {
    display: inline-block;
}

.resizer.have-img .inner {
    display: block;
}

.inner {
    width: 100%;
    position: relative;
    font-size: 0;
    overflow: hidden;
    display: none;
}

img {
    width: 100%;
}

.frames {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    cursor: move;
    outline: rgba(0, 0, 0, 0.6) solid 10000px;
}

button.ok {
    float: right;
    margin-left: 5px;
    display: none;
}

canvas {
    max-width: 100%;
    margin: auto;
    display: block;
}
button.head{
    position: relative;
    width:75px;
    height:28px;
}
button.pwd{
    position: relative;
    width:40px;
    height:20px;
    top:-4px;
}
.head-pwd {
    position: relative;
    left:-6px;
    top:-5px;
}
.head-pwd-close{
    position: relative;
    left:-6px;
    top:-5px;
}
a.pwd{
    position: absolute;
    width:40px;
    height:20px;
    top:1px;
}
a.cg-bt{
    position: relative;
    top: 30px;
    left: -80px;
    width: 78px;
    height: 30px;
}
*{padding: 0; margin: 0}
/*遮罩层*/
.box{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    margin: -15 0 0 0 ;
}
/*弹出层*/
.head_box{
    width: 500px;
    height: 500px;
    position: fixed;left: 50%; top: 25%;
    background: white;
    margin-left: -250px;
    border-top:6px double #e5e5e5;
    border-radius: 10px;
    border-right: 3px solid #e5e5e5;
    border-left:3px solid #e5e5e5;

}
.pwd_box {
    width: 400px;
    height: 30px;
    position: fixed;
    left: 50%;
    top: 15%;
    background: white;
    margin-left: -250px;
    border-top: 6px double #e5e5e5;
    border-radius: 10px;
    border-right: 3px solid #e5e5e5;
    border-left: 3px solid #e5e5e5;
    display: none;
}
.server_to_select{
    width: 500px;
    height: auto;
    position: fixed;left: 50%; top: 8%;
    background: white;
    margin-left: -250px;
    border-top:6px solid #e5e5e5;
    border-radius: 10px;
    border-right: 3px solid #e5e5e5;
    border-left:3px solid #e5e5e5;
    font-size:small;

}
.im_host_main{
    position: relative;
    padding:22px;
}
.im_host_box{
    width: 500px;
    height: 520px;
    position: fixed;left: 50%; top: 22%;
    background: white;
    margin-left: -250px;
    border-top:6px double #e5e5e5;
    border-radius: 10px;
    border-right: 3px solid #e5e5e5;
    border-left:3px solid #e5e5e5;
}
.im_host_input_before{
    width: 17%;
    border: 1px solid #ccc;
    background-color: #eee;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    font-weight: normal;
    border-right-style: initial;
    margin: 0 0 -10px 0;
}
.im_host_input{
    position: relative;
    left: 17%;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    text-indent: 10px;
    font-size: 10px;
    top: -13px;
}

input[disabled]{
border:1px solid #DDD;
background-color:#EEEEEE;
color:#ACA899;
}
.im_table_box{
    width: 500px;
    height: 700px;
    position: fixed;left: 50%; top: 2%;
    background: white;
    margin-left: -250px;
    border-top:6px double #e5e5e5;
    border-radius: 10px;
    border-right: 3px solid #e5e5e5;
    border-left:3px solid #e5e5e5;
}
.filebtn {
    position: relative;
    width: 70px;
    height: 30px;
    top: -20px;
    left: -7%;
    border-radius: 4px;
    display: initial;
}
.NewContainerShow_box{
    width: 500px;
    height: 250px;
    position: fixed;left: 50%; top: 22%;
    background: white;
    margin-left: -250px;
    border-top:6px double #e5e5e5;
    border-radius: 10px;
    border-right: 3px solid #e5e5e5;
    border-left:3px solid #e5e5e5;
}
.NewNode_input{
    position: relative;
    left: 17%;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    text-indent: 10px;
    font-size: 10px;
    /* top: -13px; */
    line-height: initial;
}
.NewContainer_main{
    position: relative;
    /* left: 17%; */
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    width: 80%;
    text-indent: 10px;
    font-size: 10px;
    /* top: -13px; */
    margin: 0;
    padding: 0;
    top:30px;
}
.ContainerService_box{
    width: 500px;
    height: 290px;
    position: fixed;left: 50%; top: 22%;
    background: white;
    margin-left: -250px;
    border-top:6px double #e5e5e5;
    border-radius: 10px;
    border-right: 3px solid #e5e5e5;
    border-left:3px solid #e5e5e5;
}
.ContainerService_input{
    position: relative;
    left: 17%;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    text-indent: 10px;
    font-size: 10px;
    /* top: -13px; */
    line-height: initial;
}
.ContainerService_main{
    position: relative;
    /* left: 17%; */
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    width: 80%;
    text-indent: 10px;
    font-size: 10px;
    /* top: -13px; */
    margin: 0;
    padding: 0;
    top:30px;
}
.DelBxCk_box{
    width: 500px;
    height: 200px;
    position: fixed;left: 50%; top: 22%;
    background: white;
    margin-left: -250px;
    border-top:6px double #e5e5e5;
    border-radius: 10px;
    border-right: 3px solid #e5e5e5;
    border-left:3px solid #e5e5e5;
}
.del_node{
    width: 20px;
    height: 20px;
    background-color: #F9FBFD;
    border-radius: 10px;
    border: 0px solid #DBE6EF;
    display:   block;
    position: absolute;
    bottom: 20px;
    left: 150px;
}
 .del_node:after{
    content: "\2716";
    color: #999;
    font-size: 12px;
    position: absolute;
    left: 4px;
    cursor: hand;
    display: block;
}
.CreateNetworkShow_box{
    width: 1000px;
    height: 190px;
    position: relative;
    top: 22%;
    margin: 10px auto;;
    background: white;
    /*margin-left: -250px;*/
    border-top:6px double #e5e5e5;
    /*border-radius: 10px;
    border-right: 3px solid #e5e5e5;
    border-left:3px solid #e5e5e5;*/
}

.close{
      width: 20px;
    height: 20px;
    background-color:green;
    border-radius: 10px;
    border: 1px solid #DBE6EF;
    display: inline-block;
    position: relative;
     bottom: 1px;
    right: 1px;
    /*width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 10px;
    border: 1px solid #DBE6EF;
    display: inline-block;
    position: relative;
    bottom: 1px;
    right: 1px;*/
}
.close:after{
    content: "\2716";
    color: green ;
    font-size: 12px;
    position: relative;
    left: 4px;
    cursor: hand;
    background-color: green;
    border-radius: 10px;
    border: 1px solid #DBE6EF;
    display: inline-block;
    width: 20px;
    height: 20px;
    /*width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 10px;
    border: 1px solid #DBE6EF;
    display: inline-block;
    position: relative;
    bottom: 1px;
    right: 1px;*/
}
.DelTips{

}
#close-edit{

}
/*.cg-pwd{*/

/*}*/
