<html>
<head>
    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>微信扫码登录</title>
    {% endblock %}
</head>
<body style="background-color:rgb(51, 51, 51); padding: 50px; margin: 0; font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;">
{% block content %}{% endblock %}
<script src="../static/js/jquery.min.js" type="application/javascript"></script>
</body>
</html>
