<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="../static/img/lgmeta.ico" rel="Shortcut Icon">
    	<link rel="stylesheet" media="screen" href="../static/css/bootstrap.min.css">
{#    <script src="../static/js/jquery.min.js" type="application/javascript"></script>#}
    <script src="../static/js/jquery-2.1.1.min.js" type="application/javascript"></script>
    <script src="../static/js/Glabal.js" type="application/javascript"></script>
    {% block meta %}{% endblock %}
    <title>DevOps 2.0 </title>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>

