{% extends "index_base.html" %}
{% block meta %}
    <link rel="stylesheet" href="../static/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" type="text/css" href="../static/css/default.css">
	<link rel="stylesheet" href="../static/css/style.css"> <!-- Resource style -->
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/sidebar-menu.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/headimg.css">
    <link href="../static/plugin/memory/c3-b03125fa.css" media="screen" rel="stylesheet" type="text/css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="../static/plugin/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="../static/plugin/jquery.flot.js"></script>
    <style type="text/css">
    *{margin:0;padding:0;list-style-type:none;}
    a,img{border:0;}
    body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";background:#ddd;}

/* leftsead */
    #leftsead{width:131px;height:143px;position:fixed;top:600px;right:0px;z-index: 100;}
    *html #leftsead{margin-top:258px;position:absolute;}
    #leftsead li{width:131px;height:53px;}
    #leftsead li img{float:right;border-bottom-left-radius:5px;border-top-left-radius:5px;}
    #leftsead li a{height:49px;float:right;display:block;min-width:47px;max-width:131px;}
    #leftsead li a .shows{display:block;}
{#    #leftsead li a .hides{margin-right:-166px;cursor:pointer;cursor:hand;}#}
    #leftsead li a .hides{margin-right:-166px;}
    #leftsead li a.youhui .hides{display:none;position:absolute;right:215px;top:-111px;}
    .glyphicon {color: #585C64; font-size: large;}
    .main-sidebar{
	position: absolute;
	padding-top: 4%;
	left: 0;
	height: 100%;
	min-height: 100%;
{#	width: 230px;#}
	z-index: 5;
	background-color: #222d32;
    }
    #notice{position: absolute;  right: 220px;  top: 40%;}
    #mail{position: absolute;  right: 190px;  top: 40%;}
    #set{position: absolute;  right: 160px;  top: 40%;}
    #out{position: absolute;  right: 130px;  top: 40%;}
    </style>

{% endblock %}


{% block content %}
	<header class="cd-main-header">
		<a href="#0" class="cd-logo"><img src="../static/img/logo.jpeg" alt="Logo"></a>

		<div class="cd-search is-hidden">
			<form action="#0">
				<input type="search" placeholder="Search...">
			</form>
		</div> <!-- cd-search -->

		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

		<nav class="cd-nav">
			<ul class="cd-top-nav">
{#				<li  class="glyphicon glyphicon-bullhorn"><a  class="" href="#0"></a></li>#}
{#				<li class="glyphicon glyphicon-envelope"><a href="#0"></a></li>#}
                <a  class="glyphicon glyphicon-bullhorn" href="#0" id="notice"></a>
                <a class=" glyphicon glyphicon-envelope" href="#1" id="mail"></a>
                <a href="javascript:;" onclick="jQuery('#b1').show()"  class="glyphicon glyphicon-cog show" id="set"></a>
                <a href="/login" class="glyphicon glyphicon-share" id="out"></a>
				<li class="has-children account">
					<a href="#0">
{#						<img src={{ head }} alt="avatar">#}
                        <img src={{ head }} >
                        {{ user }}  {#  不定义名字样式会乱掉 #}
					</a>
				</li>
			</ul>
		</nav>
        <div class="box" id="b1">
            <div class="box1">
                <a href="javascript:;" onclick="jQuery('#b1').hide()" class="close">关闭</a>
                <div>
                    <a href="javascript:;" class="file">上传头像
                        <input type="file" class="" accept="images/*">
                    </a>
                    {#                <input class="url" type="url" placeholder="url">#}
                    <div class="container"></div>
                    <button class="btn btn-info head">提交</button>
                    <a href="javascript:;" onclick="jQuery('.box2').css('display','block')" class="btn btn-info cg-bt ">
                        <div class="cg-pwd">更改密码</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="" id="b2">
            <div class="box2">
                <input placeholder="修改密码" name="password" value size="30" maxlength="30" type="password" class=""
                       id="" style="border-radius: 10px;">
                <button class="btn btn-info pwd">
                    <div class="head-pwd">提交</div>
                </button>
                <a href="javascript:;" onclick="jQuery('#b2').hide()" class="btn btn-danger pwd">
                    <div class="head-pwd-close">关闭</div>
                </a>
            </div>
        </div>
{#    <a href="javascript:;" onclick="jQuery('#set').show()" class="show">显示</a>#}
{#    <a href="javascript:;" onclick="jQuery('#b2').show()" class="show">显示</a>#}
	</header> <!-- .cd-main-header -->

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="treeview">
                    <a href="/ops/index" >
                        <i class="fa fa-dashboard"></i> <span>仪表盘</span> <i
                            class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
{#                        <li><a href="#base1" id="base" onclick="document.getElementById('base1').style.display='block'"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>#}
{#                        <li><a href="#base3" id="base2"  onclick="document.getElementById('base3').style.display='block'"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>#}
                        <li><a href="#0" id="base" class="" data-menu="index"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                        <li><a href="#0"  class="selected"  data-menu="service"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>服务器信息管理</span>
{#                        <span class="label label-primary pull-right">4</span>#}
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li><a href="#"  data-menu="host_input"><i class="fa fa-circle-o"></i>服务器配置 </a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Boxed</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Fixed</a></li>
                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-th"></i> <span>Widgets</span>
                        <small class="label pull-right label-info">new</small>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>Charts</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Morris</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Flot</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>UI Elements</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> General</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Icons</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Buttons</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Sliders</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Timeline</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Modals</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Forms</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> General Elements</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Editors</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Tables</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Data tables</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-calendar"></i> <span>Calendar</span>
                        <small class="label pull-right label-danger">3</small>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-envelope"></i> <span>Mailbox</span>
                        <small class="label pull-right label-warning">12</small>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>Examples</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Invoice</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Profile</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Login</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Register</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Pace Page</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-share"></i> <span>Multilevel</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                        <li>
                            <a href="#"><i class="fa fa-circle-o"></i> Level One <i
                                    class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                <li>
                                    <a href="#"><i class="fa fa-circle-o"></i> Level Two <i
                                            class="fa fa-angle-left pull-right"></i></a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
{#                <li class="header">LABELS</li>#}
{#                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>#}
{#                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>#}
{#                <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>#}
            </ul>
        </section>
    </aside>


    <div id="leftsead">
    	<ul>
            {# 其实可以将通知，邮件都放到这里来，后面在考虑吧  #}
{#	     <li>#}
{#			<a id="top_btn">#}
{#				<img src="../static/img/foot03/ll06.png" width="47" height="49" class="hides"/>#}
{#				<img src="../static/img/foot03/l06.png" width="47" height="49" class="shows" />#}
{#			</a>#}
{#		</li>#}

		<li>
			<a href="">
				<img src="../static/img/foot03/ll03.png"  width="47" height="49" class="hides"/>
				<img src="../static/img/foot03/l03.png" width="47" height="49" class="shows" />
			</a>
		</li>

            {# 增加微信聊天求助websocket#}
{#            <li>#}
{#                <a href="">#}
{#                  <img src="../static/img/foot03/ll02.png" width="166" height="49" class="hides"/>#}
{#                  <img src="../static/img/foot03/l04.png" width="47" height="49" class="shows" />#}
{#                </a>#}
{#            </li>#}
		    <li>
			    <a class="youhui">
				    <img src="../static/img/foot03/l02.png" width="47" height="49" class="shows" />
			    	<img src="../static/img/foot03/qrcode.jpg" width="196" height="205" class="hides" usemap="#taklhtml"/>
		    	</a>
	    	</li>
            <li>
			    <a class="youhui">
				    <img src="../static/img/foot03/l02.png" width="47" height="49" class="shows" />
			    	<img src="../static/img/foot03/qrcode.jpg" width="196" height="205" class="hides" usemap="#taklhtml"/>
		    	</a>
	    	</li>
    	</ul>
    </div><!--leftsead end-->
    <main class="cd-main">
        <section class="cd-section service visible">
            <div id="index-content" class="cd-content ">
{#                 <div class='radius'>#}
{#                 <p> 仪表盘 / </p>#}
{#                </div>#}
                {#        <div  id="base1" name="base1" style="position:absolute;background-color: blue;width:100%;height: 100%;display: block"></div>#}
                {#        <div  id="base3"  name="base3" style="position:absolute;background-color: yellow;width:100%;z-index: 2;height: 100%;display: block"></div>#}
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae illo veritatis ea deserunt aliquam
                    blanditiis, voluptas optio, voluptate ut accusamus veniam numquam, porro! Cum minima a molestiae,
                    similique
                    voluptate, perferendis vel iusto quam suscipit delectus dolore ducimus possimus illo molestias
                    voluptas
                    labore optio consequuntur sapiente pariatfafdsafsafasfur8weur89wurewurwrw
                </p>


{#                    <div style="    background-color: white;width: 1235px;height: 280px;position: absolute;top: -10px;z-index: -1;left: -307%;right: 1%;"></div>#}
               </div>
            </div>
        </section>
    </main>
    <div id="cd-loading-bar" data-scale="1" class="index" style=""></div>

    <script src="../static/js/headimg.js"></script>
    <script src="../static/js/jquery.menu-aim.js"></script>
    <script src="../static/js/dycontent.js"></script> <!-- Resource jQuery -->
    <script src="../static/js/rightpg.js"></script> <!-- Resource jQuery -->
    <script src="../static/js/sidebar-menu.js"></script> <!-- Resource jQuery -->
    <script src="http://cdn.bootcss.com/velocity/1.4.3/velocity.min.js"></script>
    <script>
    $.sidebarMenu($('.sidebar-menu'))
    </script>
    <script>
    $(function (){
        $('#base').click(function () {
            window.location.href = '/ops/index';
        })
    })
    </script>

{#    <script>#}
{#        $(function(){#}
{#             $('#base').css("boder-right-color","yellow");#}
{#            $('#base').mouseleave(function () {#}
{#                $("#base1").hide();#}
{#            })#}
{#             $('#base2').mouseenter(function () {#}
{#                 $("#base3").show();#}
{#             })#}
{#            $('#base2').mouseleave(function () {#}
{#                $("#base3").hide();#}
{#            })#}
{#        })#}
{#    </script>#}

{% endblock %}
